.form {
    background-image: url('https://pt-blog.ru/wp-content/uploads/2018/05/5.jpg');
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__button {
        text-decoration: none;
        display: inline-block;
        color: white;
        padding: 20px 30px;
        margin: 10px 20px;
        border-radius: 10px;
        font-family: "Montserrat", sans-serif;
        text-transform: uppercase;
        letter-spacing: 2px;
        background-image: linear-gradient(to right, #9eefe1 0%, #4830f0 51%, #9eefe1 100%);
        background-size: 200% auto;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        transition: 0.5s;
    }
    :hover {
        background-position: right center;
    }
    &__input {
        width:30%;
        resize: vertical;
        padding:20px;
        border-radius:20px;
        border:0;
        box-shadow:4px 4px 10px rgba(0,0,0,0.06);
    }
}
