.map{
    height: 400px;
    width: 800px;
    &__element{
        height: 100%;
    }
}
.form{
    display: flex;
    justify-content: center;
    &__button{
        text-decoration: none;
  display: inline-block;
  color: white;
  padding: 20px 30px;
  margin: 10px 20px;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  transition: .5s;
    }:hover {
        background-position: right center;
      }
}